.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.container {
  margin: 0px 20px 0px 20px;
  padding: 20px;
}
.col-6{
  width: 60%;
  padding: 50px;
  border-style: double;
}
.topic{
    text-align: center;
    padding: 0;
}

.content {
  text-indent: 5ch;
}
.Ocenter {
  margin: auto;
}
.bg-yellow {
  background-color: yellow;
}
.bg-blue {
  background-color: blue;
}
.color-white {
  color: white;
}
.no-spacing {
  border-spacing: 0px;
}
.tr-h {
  height: 10px;
}
.p {
  margin: 5px;
}
.t-boder{
  border: 2px solid black;
}
th{
  border-bottom: 1px solid #ddd;
}
.submit{
  width: 100%;
  height: 20px;
}
.num::-webkit-outer-spin-button,
.num::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input,
select,
button {
  margin-bottom: 5px;
}

.input-box {
  width: 80%;
}
