.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.container {
    margin: 0px 20px 0px 20px;
}

.content {
    text-indent: 5ch;
}
.Ocenter{
    margin: auto;
}
.bg-yellow{
    background-color: yellow;
}
.bg-blue{
    background-color: blue;
}
.color-white{
    color:white;
}
.no-spacing{
    border-spacing: 0px;
}
.tr-h{
    height: 10px;
}
.p{
    margin: 5px;
}

.num::-webkit-outer-spin-button,
.num::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input,select,button{
    margin-bottom: 5px;
}

.input-box{
    width: 80%;
}